<h1>New Blogger!!! </h1>
<%= form_for @blogger do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :age %>
    <%= f.text_field :age %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>
    <%= f.submit %>
<%end%>

<% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
        <p><%= error %></p>
    <%end%>
<%end%>